@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


.skills{
    margin-top: 2.7rem;
    background: #fff;
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}
   .card {

    margin-bottom: 15px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 6rem;
    background: rgba(0, 0, 22, 0.9);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img{
    width: 3rem;
    padding-top: .9rem;
  }
  .heading{
    position: relative;
    top:6rem;
    /* padding:2rem; */
    font-size: 2rem;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    font-weight: 600;
  }
