nav{
    background-color: transparent;
    position:fixed;
    width: 100vw;
    z-index: 10;
    color: aliceblue;
    transition: all 0.3s ease-out 0s !important;
    height: 10vh;
    z-index: 100;
}
.sticky {
    background-color: #1b1a2ea9;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
    backdrop-filter: blur(15px);
  }
  /* .transparent-nav{
    background-color: transparent;
  } */

section{
    width: 90%;
    padding-top: .9rem;
    display: flex;
    margin-inline:auto;
    align-items: center;
}
.navbar__title{
    width:40%;
    padding-left: 5%;
}

 .navbar {
    display:flex;
     align-items: center;
    justify-content: space-between;
    width: 70%;

 }
    
    /* background-color: transparent; */
    /* color: black; */
    /* font-family: Helvetica; */
    /* font-weight: 600;  */
 /* }    */
.icon{
    margin-right: 2px;
}
.icon3{
   margin-top: 2px;
   margin-right: 2px;
}
.icon5{
    border:2px solid #fff;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2px;
}
.icon4{
    margin-top: 3px;
    margin-right: 2px;
}

/* 
.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
} */

 .navbar__item {
    /* padding: 16px 16px; */
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    
    /* vertical-align: middle; */
} 

