@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #021127;
  border-radius: 10px;
  color: #021127;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: #3cba5399;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    scroll-behavior:smooth;
}

